header{
    background-color: aqua;
}

h1{ 
    display: inline;
    
}

ul{
    display: inline-block;
}

li {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

a{
    color: black;
    list-style-type: none;
    text-decoration: none;
}

li a:hover{
    color: aliceblue;
    list-style-type: none;

}



footer {
    display: inline-block;
    background-color: aqua;
    text-align: center;
}

section img {
    max-width: 200px;
    max-height: 300px;
}

@keyframes bigger-box {
  25%{ width: 300px; height: 400px;}
  50%{ width: 400px; height: 500px;}
  75%{ width: 500px; height: 600px;}
  100%{ width: 600px; height: 700px;}
 }

 .box{

    animation-name: bigger-box;
    animation-iteration-count: 2;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-delay: 1s;

 }